@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0 .5rem;
}
span, a{
    display: inline-block;
}
img{
    width: 100%;
}
.material-symbols-outlined{
    font-size: inherit !important;
}
.radio_label input:checked ~ .checkmark_color{
    opacity: 1;
    position: relative;
}
/* .radio_label input:checked ~ .checkmark_color::after{
    content: "\2713";
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
} */
.checked_active{
    opacity: 1;
}
.checked_active::after{
    content: "\2713";
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
}

.checkmark_option{
    background-color: crimson;
    color: white;
}

.check_option::before{
    content: '\2715';
    color: red;
    vertical-align: middle;
    padding: 0.5rem;
}